[submodule "chromis-particle/IRRemote"]
	path = chromis-particle/IRRemote
	url = https://github.com/babean/IRRemote.git
[submodule "chromis-particle/SparkIntervalTimer"]
	path = chromis-particle/SparkIntervalTimer
	url = https://github.com/pkourany/SparkIntervalTimer.git
[submodule "chromis-particle/MQTT"]
	path = chromis-particle/MQTT
	url = https://github.com/hirotakaster/MQTT.git
